* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body {
    background-color: rgb(217, 225, 210);
}

nav {
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    
}

nav h1{
    font-weight: bold;
    color: #30B3FC ;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}

.nav_list {
    display: flex;
    gap: 2rem;
    ;
}

.nav_list li, a{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #012d45;
}

.nav_list a:hover{
    color: #30B3FC;
}

nav .search {
    display:flex ;
    position: relative;
}

nav .search_input {
    border: 2px hidden;
	border-top: thin solid rgb(235, 235, 235);
    border-bottom: thin solid rgb(235, 235, 235);
    border-radius: 8px;
    width: 486px;
    padding: 8px 32px 8px 12px;
    background-color: #e8f5fc;
    box-sizing: border-box;
}

nav .search_input:focus {
    outline-color: #30B3FC;
    outline-width: thin;
}

nav .search_button {
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    border-radius: 8px;
    transition: ease-in 0.2s;
    cursor: pointer;
}

nav .search_button:hover {
    background-color: rgb(216, 214, 214);
}


.container {
    margin: 30px;
}

/* .banner_content {
    background-color: #078fe3;
    width: 90%;
    height: 236px;
    border: none;
    border-radius: 8px;
}

.banner_content a{
    text-decoration: none;
    color:black;
} */

.section {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 24px;
}

.featured {
    display: flex;
    align-items: center;
    width: 700px; 
    background-color: white;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.featured img {
    width: 45%;
}

.body_featured {
    margin-left: 12px;
}

.body_featured p {
    margin-top: 12px;
    font-weight: 700;
}

.product_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.product {
    border: none;
    border-radius: 8px;
    padding: 14px;
    width:  164px;
    background-color: white;
    box-shadow: 10px 5px 10px rgba(70, 68, 68, 0.12);
    box-sizing: border-box;
    margin-bottom: 24px;
}

.product img {
    width: 100%;
    object-fit: cover;
    transition: ease-in 0.2s;
}

.product img:hover {
    transform: scale(1.02);
}

.product h3 {
    margin-top: 6px;
    font-weight: 500;
    font-size: 16px;
}

.product p {
    margin-top: 24px;
    font-weight: 600;
    font-size: 16px;
}

footer {
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 5px 10px rgba(70, 68, 68, 0.5);
}

